
<div class="row animate__animated animate__bounceIn mt-5">
    <div class="col-12">
        <h2 class="league-gothic-type color-font-p1">SOBRE NOSOTROS</h2>
    </div>
    <div class="col-12">
        <p>Contamos con más de 40 años de experiencia para brindar un servicio de buena calidad.</p>
    </div>
    <div class="col-12">
        <h2 class="league-gothic-type color-font-p2">Galeria</h2>
        <app-galeria></app-galeria>
    </div>
</div>
<!-- <button>Escribir reseña</button>
<app-resenas></app-resenas> -->