<div class="row animate__animated animate__bounceIn">
    <div class="col">
        <h2 class="league-gothic-type color-font-p2">Ubicación</h2>
    </div>
</div>

<app-map></app-map>

<div class="banner">&nbsp;</div>

<div class="d-flex justify-content-center">
    <mat-icon 
        aria-hidden="false" 
        aria-label="Example home icon" 
        fontIcon="place" 
        class="custom-icon mt-5 ">
    </mat-icon>
</div>

<h3>Juan Aldama #3A   Col. Centro  Uriangato, Gto. Mexico.</h3>

<button class="btn btn-primary ">cómo llegar</button>


