<div class="row body-blue">
    <div class="col-xs-12 col-sm-6 col-md-12 order-2 order-sm-1 order-md-2 animate__animated animate__bounceIn">
        <img 
            src="assets/pages/boot.jpg" alt="ejemplo de botas reparadas" 
            class="flipped-vertical img-fluid mx-auto d-block  "
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12  order-1 order-sm-2 order-md-1" >
        <h2 class="league-gothic-type color-font-p1 animate__animated animate__bounceIn">¡Renueva tus pasos, renueva tu calzado</h2>
    </div>
</div>

<div class="row mt-3 animate__animated animate__bounceIn">
    <div class="col-12">
        <h2 class="league-gothic-type color-font-p2">
            NUESTROS SERVICIOS
        </h2>
        <div class="my-txt">
            <p>
                Nuestra reparadora ofrece una variedad de servicios que se adaptan conforme la necesidad del cliente y del
                producto.
            </p>
        </div>
        <h2 class="league-gothic-type color-font-p3">Limpiamos tu calzado</h2>
        <img class="img-fluid mx-auto d-block" src="assets/pages/zapatos.jpg" alt="zapatos boleados negros">
    </div>
    <div class="col-12">
        <h2 class="league-gothic-type color-font-p3">Pintamos </h2>
        <img class="img-fluid mx-auto d-block" src="assets/pages/zapato.pintado.jpg" alt="zapatos boleado cafe">
    </div>
    <div class="col-12">
        <h2 class="league-gothic-type color-font-p3">Cambiamos la suela y/0 tapas</h2>
        <img class="img-fluid mx-auto d-block" src="assets/pages/suela.jpg" alt="suelas">
        <h2 class="league-gothic-type">¡ACUDE A NUESTRO TALLER PARA más servicios y así RENOVAR TU CALZADO!</h2>
    </div>
</div>